
@import url('https://fonts.googleapis.com/css?family=Arapey');

@font-face {
  font-family: 'Bodoni';
  src:  url('../fonts/Bodoni.woff2') format('woff2'),
        url('../fonts/Bodoni.woff') format('woff');
}

a:hover, a:active{
  color: #E41219;
  text-decoration: none;
}

a:link , a:visited{
  color: #32323;
  text-decoration: none;
}


html{
  height:95%;
}


body {
  color: #323232;
  font-family: "Arapey", sans-serif;
  font-weight: 300;
}

header {
  width: 100%;
  background-color: rgba(251,251,241,0.65);
}

.header-content{
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  padding: 10px 5px 10px 5px;
  order: 1;
  width: 20%;
  display: flex;
  vertical-align: middle;
  justify-content: center;
}

.nav{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 74%;
  display: flex;
  justify-content: space-between;
  order: 2;
  min-height: 60px;
  vertical-align: middle;
}

.navlink{
  margin: auto;
  display:inline-block;
  min-height: 35px;
  text-align: center;

}

.navlink > a {
  font-family: "Bodoni", sans-serif;
  text-decoration: none;
  font-size: 27px;
  color: #323232;
}

.navlink > a:active, a:hover{
  color : #E41219;
}


.content {
      min-height: 76%;
      padding: 20px;
      padding-bottom: 20px;
    }

footer {
      padding-left: 50px;
      padding-right: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 50px;
      margin-bottom: -50px;
      background-color: rgba(251,251,241,0.65);
    }


.pt{
  color:#E41219;
}

/* For iPad and larger screens */
@media screen and (min-width: 768px) {

  .header-content>*{
    width: 100%;
  }

  .nav{
    border-top: 1px solid #323232;
  }

  .navlink > a {
    font-size: 45px;
  }

  footer{
    flex-wrap: wrap;
    align-items: center;
  }

  footer > *{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .copyright, .seletor-idioma {
    font-size: 40px;
  }

  .redes-sociais img{
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
